# wordpress
*.log
/app/public/wp-content/build/*
!cache/
**/cache/*
!**/cache/**/.htaccess
!**/cache/**/index.html
!**/cache/**/index.php
/app/public/readme.*

# localwp
/app/sql/*

# vscode
/.favorites.json

# idea
/.idea/*

# macos
._.DS_Store
.DS_Store

# windows
thumbs.db

# wordpress plugins
/app/public/wp-content/uploads/sb-instagram-feed-images/*
/app/public/wp-content/uploads/storeabill-*/**/*.pdf
